/* CONTENEDOR-PRINCIPAL  */
.contenedor-principal {

    flex-direction: column;

    justify-content: center;

    align-items: center;

}
.contenedor-principal h1 {

    font-size: 2rem;

    margin-bottom: 0.1%;

    color: #333;
    align-items: center;
    display: flex;
    justify-content: center;

}
.contenedor-carrusel{

    position: relative;

    width: 100%;

    display: flex;

    align-items: center;

}

.carrusel-tarjetas{

    display: flex;

    gap: 30px;

    overflow-x: auto;

    scroll-behavior: smooth;

    scrollbar-width: none;

}

.carrusel-tarjetas::-webkit-scrollbar{

    display: none;

}

/* BOTONES */

.btn-carrusel{

    position: absolute;

    z-index: 10;

    width: 50px;

    height: 50px;

    border: none;

    border-radius: 50%;

    background: rgba(255,255,255,0.9);

    box-shadow: 0 4px 10px rgba(0,0,0,0.2);

    cursor: pointer;

}

.izquierda{

    left: 10px;

}

.derecha{

    right: 10px;

}

/* carrusel-tarjetas */
.carrusel-tarjetas {
    
    display: flex;

    flex-direction: row;

    flex-wrap: nowrap;

    gap: 30px;

    justify-content: flex-start;

    align-items: flex-start;

    width: 100%;

    padding: 40px 20px;

    box-sizing: border-box;

    overflow-x: auto;

    scrollbar-width: none;


}

.carrusel-tarjetas::-webkit-scrollbar {

   height: 8px;


}

.carrusel-tarjetas::-webkit-scrollbar-track {

    background: #e5e5e5;

    border-radius: 20px;

}

.carrusel-tarjetas::-webkit-scrollbar-thumb {

    background: #999;

    border-radius: 20px;

}

.carrusel-tarjetas::-webkit-scrollbar-thumb:hover {

    background: #666;

}
.contenedor-productos {

    display: flex;

    flex-direction: column;

    gap: 20px;
        
}

.contenedor-productos h2 {

    font-size: 1.5rem;

    color: #555;

    margin-bottom: 10px;

    align-items: center;
    display: flex;
    justify-content: center;

}
/* }

.tarjetas-productos {

    display: flex;

    justify-content: center;

    align-items: stretch;

    transition: transform 0.3s ease;

}
.tarjetas-productos:hover {

    transform: translateY(-8px);

}
@media (max-width: 768px) {

    .contenedor-principal {

        padding: 120px 20px 60px;

    }

    .carrusel-tarjetas {

        gap: 25px;

    }

}

@media (max-width: 480px) {

    .contenedor-principal {

        padding: 110px 15px 50px;

    }

} */
