.tarjetas {

    display: flex;

    flex-wrap: wrap;

    gap: 20px;

    justify-content: center;

    padding: 20px;

}

p#parrafo-inicio {

    text-align: center;

    margin: 20px;

    font-size: 18px;

    color: #333;

}


